<h1> <%= @user.username %></h1>
<%= link_to "Log out", logout_path, method: :delete %>



<h7> Feed </h7>
<%= form_for current_user.posts.new do |f| %>
     <%= f.file_field :upload_photo %>
     <%= f.text_field :caption, placeholder: 'Description' %>
     <%= f.submit 'Upload' %>
<% end %>

 <% @user.posts.all.each do |post| %>
     <%= image_tag post.upload_photo, style: "width: 200px; display: block;" %>
     <%= post.caption %>
     <%=link_to 'edit', edit_post_path(post) %>
     <%=link_to 'delete', post_path(post), method: :delete %>
 <% end %>
